.formulaire{
    
    text-align: center;
        width:400px;
        margin:0 auto;
        padding-top: 5%;
        color:  #042C50;;
    
}
.input{
width:75%;
height:7%;
border-radius: 5px;
border: 1px solid #042C50;
}
.submit{
height:7%;
width:75%;
border-radius: 5px;
background-color:  #042C50;;
cursor: pointer;
color: white;
border: 1px solid #042C50;
}